

/* Body */

@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/breeserif/v10/4UaHrEJCrhhnVA3DgluA96rp57F2IwM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#body {
    margin:0;
    padding:0;
}

/* Divs */

#div_1 {
    background-color: #0A0A0A;
    margin: 0px;
    padding: 60px;
}

#div_2 {
    float: left;
    background-color: white;
    width: 50%;
    margin:0;
    padding:0;
    height: 400px;
}

#div_3 {
    float: left;
    background-color: #2541B2;
    width: 50%;
    height: 400px;
}

/* Elements */

#IMG_1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    size: auto;
    width: auto;
    height: auto;
}

#name {
    text-align: center;
    font-family: cursive !important;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-stretch: ultra-condensed;
    color: white;
}

.div_2_titles {
    color: black;
    padding: 20px 30px; 
}

.div_3_titles {
    color: #FCA311;
    padding: 20px 30px;
}

#div_4 {
    float: left;
    background-color: #FDA821;
    width: 50%;
    margin:0;
    padding:0;
    height: 400px;
}

#div_5 {
    float: left;
    background-color: #5EEB5B;
    width: 50%;
    margin:0;
    padding:0;
    height: 400px;
}








